main {
    padding: 20px 25px;
}

table {
    width: 100%;
    color: #404E67;
    border-collapse: collapse;
    font-size: 1rem;
    text-align: left;

    tr th,
    tr td {
        padding: 12px 15px;
        vertical-align: middle;
        border-top: 1px solid #dee2e6;
    }

    button {
        border: none;
        font-size: 18px;
        margin-right: 5px;

        &.edit-button svg {
            fill: #FFC107;
        }

        &.save-button svg {
            fill: #27C46B;
        }

        &.delete-button svg {
            fill: #E34724;
        }
    }
}

.table-header {
    font-weight: bold;
    text-transform: capitalize;
}

.table-row:nth-of-type(odd) {
    background-color: #fcfcfc;
}