.App {
  min-width: 1000px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  color: rgb(170, 170, 170);
  font-size: 0.8rem;
}