@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans");
* {
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
}

input, button {
  outline: none;
  background: none;
  border: 1px solid rgb(218, 217, 217);
  border-radius: 2px;
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

#root {
  background: #f5f5f5;
  padding: 15px;
  display: flex;
  justify-content: center;
}
